<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Note List</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container" style=" margin-left: 30px;">
    <div class="row"><h2>Patient's Note List</h2></div>
    <div class="row">
        <a th:href="@{'/note/add/' + ${patientId}}" class="btn btn-primary btn-sm">Add New Note</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${noteList}">
                <td style="width: 10%" th:text="${note.id}"></td>
                <td style="word-break: break-all;" th:text="${note.note}"></td>
                <td style="width: 50px" class="text-center">
                    <a th:href="@{/note/delete/{id}(id=${note.id})}">Delete</a>&nbsp;|&nbsp;
                    <a th:href="@{/note/update/{id}(id=${note.id})}">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>